.foter-bar{
 position: fixed;
 bottom: 0;
 width: 100%;

}

.bossInfo{
 margin-bottom: 80px;
 margin-top: 49px;
}

.title-navbar{
 position:fixed;
 top: 0;
 width: 100%;
 z-index: 1;
}
.main{
 margin: 49px 0;
}  

/*消息文本居右*/
#chat-page .chat-me .am-list-extra { 
 flex-basis: auto; /*宽度包裹内容*/ 
}
#chat-page .chat-me .am-list-content { 
 padding-right: 15px; text-align: right; 
}
